main{
    height: max-content;
}
main .des{
    margin: 12px 32px;
}
main .head{
    text-align: center;
    font-size: 3rem;
}
main .head img{
    height: 9vh;
}
.about-me{
    margin-top: 7vh;
    display: flex;
    justify-content: space-evenly;
align-content:flex-start;
align-items: center;
flex-wrap: wrap;
height: fit-content;
/* margin: 10px; */
}
.about-me .item{
    width: 500px;
    height: 400px;
    text-align: center;
}
.about-me .image img{
    height: 300px;
    width: 300px;
    border-radius: 250px;
}
.about-me .me{
    font-size: 2rem;
}
@media only screen and (max-width:1362px){
    .about-me .me{
        font-size: 1.7rem;
    }
}
@media only screen and (max-width:1010px){
    .about-me .me{
        font-size: 1.5rem;
    }
}
@media only screen and (max-width:415px){
    .about-me .me{
        font-size: 1rem;
    }
}